<form class="form-signin page-login" ng-submit="recover()">
	<h2>Forgot your password?</h2>
	<p>
		Please enter your email-adresse and we will send you a link with your login-data.
	</p>
	
	<div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="E-Mail" ng-model="mail">
      <span class="input-group-btn">
        <button class="btn btn-default" style="height:43px;" type="submit"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </span>
    </div>
	<div>
		<a ui-sref="access.login">Remember your password?</a>
	</div>
</form>