<form class="form-signin page-login" ng-submit="changePassword()">
	<h2>Reset password</h2>
	<p>
		Please enter a new password.
	</p>
	
		<div class="input-group input-group-icon">
			<span class="input-group-addon">
				<span class="icon wb-lock"></span>
			</span>
			<input type="password" class="form-control" placeholder="Password" ng-model="user.password" required>
		</div> 
		<br>
		<!-- password -->
		<div class="input-group input-group-icon">
			<span class="input-group-addon">
				<span class="icon wb-lock"></span>
			</span>
			<input type="password" class="form-control" placeholder="Password" ng-model="user.password2" ng-class="{'ng-invalid':user.password !== user.password2}" required>
		</div> 
		<br>
		<button class="btn btn-lg btn-primary btn-block" ng-disabled="user.password !== user.password2 && user.password!==''" type="submit">Reset password</button>
		
</form>