<div style="padding:5px;">
	<button class="btn btn-default" ng-click="reloadMessages()"><span class="icon wb-refresh"></span></button>
	<button class="btn btn-default" ng-click="deleteSeclectedMessages()"><span class="icon wb-trash"></span></button>
	<div class="message-searchbar pull-right">
		<div class="input-group">
				<input type="text" class="form-control" placeholder="Filter" ng-model="searchText">
				<span class="input-group-btn">
					<button class="btn btn-default" style="height:34px;" type="button"><span class="icon wb-search"></span></button>
			</span>
		</div>
	</div>
</div>
<div ng-repeat="msg in archiveMessages  | filter:searchText" class="message-preview">


	<table class="message-table">
		<tr>
			<td>
				<span class="checkbox message-checkbox">
						<input type="checkbox" id="{{msg.id}}" ng-model="msg.selected"/>
						<label for="{{msg.id}}"> </label>
				</span>
			</td>
			<td ng-swipe-left="deleteMessage(msg.id)">
				<span class="message-dispay" ng-click="msg.display = !msg.display">
					{{msg.subject}}<br>
					<span><a ui-sref="page.viewprofil({uname: msg.from})">{{msg.from}}</a></span>
					<span>{{msg.created_at}}</span>
				</span>
			</td>
			<td>
				<button class="btn btn-default pull-right" ng-click="reply(msg)"><span class="icon wb-reply"></span></button>
			</td>
		</tr>
	</table>
	<div uib-collapse="!msg.display">
		{{msg.body}}
	</div>
	
	
</div>
<div class="container message-preview" ng-if="archiveMessages.length<1">No Messages</div>