<div class="modal-body">
<button class="btn btn-danger pull-right" ng-click="close()"><span class="icon wb-close"></span></button>
	<h2>Privacy Policy</h2>
	<i>Last updated: April 23rd, 2015</i>
	<h4>We collect personal and activity data, which may be linked</h4>
	<p>We use technologies like cookies (small files stored on your browser), web beacons, or unique device identifiers to identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.
	We also may collect personally identifiable information that you provide to us, such as your name, address, phone number or email address. With your permission, we may also access other personal information on your device, such as your phone book, calendar or messages, in order to provide services to you. If authorized by you, we may also access profile and other information from services like Facebook.
	Our systems may associate this personal information with your activities in the course of providing service to you (such as pages you view or things you click on or search for).
	We do not knowingly contact or collect personal information from children under 13. If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.
	Our service does currently recognize the "Do Not Track" signal that may be available in some web browsers.</p>
	<h4>We collect or share your location only with permission</h4>
	<p>In serving you, we may use or store your precise geographic location, if you give us permission to do so. We do not use or share this data for any other purpose. Many devices will indicate through an icon when location services are operating. We only share this location information with others as approved by you.
	</p>
	<h4>You can request to see your personal data</h4>
	<p>You can sign into your account to see any personally identifiable information we have stored, such as your name, email, address or phone number. You can also contact us by email to request to see this information.</p>
	<h4>We keep personal data until you delete it</h4>
	<p>We remove personally identifiable information (such as your name, address, email or phone number) and other preferences associated with your account promptly after you delete your account. We may retain other data indefinitely.</p>
</div>