body {
	padding:0px;
}
.sidebar,.top-bar {
	z-index:1000;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.sidebar-wrapper .sidebar-content {
	padding:15px;
}
.sidebar-brand {
	height:50px;
	color:#FFF;
	font-size:40px;
	width:100%;
	text-align:center;
}
.brand-top-menu {
	color:#FFF;
	height:40px;
	padding-left:20px;
	font-size:35px;
	margin:auto;
}
.top-bar .toggle-button{
	float:left;
	margin:7.5px;
}
.sidebar .sidebar-menu {
	list-style-type: none;
	padding-left:0px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sidebar .sidebar-menu li{
	padding:10px;
	cursor:pointer;
	transition:all 0.5s;
}
.sidebar .sidebar-menu i , .sidebar .sidebar-menu .text{
	transition:all 1s;
}
.sidebar-wrapper .sidebar {
	position:fixed;
	top:0px;
	left:0px;
	width:0px;
	height:100%;
	transition:width 1s;
	overflow-x:hidden;
}
.sidebar-wrapper .sidebar-content {
}
.sidebar-wrapper .sidebar-content {
	margin-top:50px;
}
.sidebar-wrapper .on-lg {
	display:none;
}
.sidebar-wrapper .on-md {
	display:none;
}
.sidebar-wrapper .on-sm {
	display:initial;
}
.sidebar-wrapper .top-bar {
	position:fixed;
	top:0px;
	left:0px;
	transition:all 1s;
	width:100%;
	height:50px;
}
.top-bar .top-nav-element {
	height:50px;
	padding:0px;
	cursor:pointer;
}
.top-bar .top-nav-element i {
	font-size:15px;
	margin-right:3px;
	margin:18px;
}
.dropdown-element {
	position:absolute;
	right:0px;
	color:#000;
	padding-left:0px;
	margin-top:-1px;
	list-style-type: none;
	min-width:50px;
	overflow-y:auto;
	max-height:400px !important;
	background-color:#F0F0F0;
	display:none;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.dropdown-element-open{
	display:block;
}
.sidebar-expanded .sidebar {
	width:250px;
}
.sidebar-expanded .top-bar	{
	left:250px;
}
.sidebar-expanded .sidebar-menu i {
	display:inline;
	font-size:15px;
}
.sidebar-expanded .sidebar-menu .text {
	display:inline;
}
.nav-profil{
	text-align:center;
	width:100%;
	overflow:hidden;
	cursor:auto !important;
	transition:height 1s;
	height:0px;
	opacity:0;
	padding:0px;
	margin:0px;
}
.sidebar-expanded  .nav-profil{
	height:180px;
	padding:10px;
	opacity:1;
}
.nav-profil .action{
	padding:5px;
}
.nav-profil .action:hover{
	color:#FFBB00;
}
.nav-profil img{
	border:solid 2px #FFBB00;
	border-radius: 100%;
	width:100px;
	display:block;
	margin:auto;
}
.nav-profil button{
	border:solid 2px #FFF;
	border-radius: 25px;
	background-color:rgba(0,0,0,0);
	width:150px;
	color:#FFF;
	transition:all .5s;
}
.nav-profil button:hover{
	background-color:rgba(255,255,255,1);
	color:#3CA3E0;
}

@media(min-width:768px) {
	.sidebar-wrapper .sidebar {
		width:75px;
	}
	.sidebar-wrapper .on-md {
		display:block;
	}
	.sidebar-wrapper .on-sm {
		display:none;
	}
	.sidebar-wrapper .sidebar-content {
		margin-left:75px;
	}
	.sidebar-wrapper .top-bar{
		left:75px;
		width: calc(100% - 75px) ;
	}
	.sidebar-expanded .sidebar {
		width:250px;
	}
	.sidebar-expanded .top-bar	{
		left:250px;
	}
	.sidebar-menu i {
		font-size:25px;
		text-align:center;
		width:100%;
	}
	.sidebar-menu .text {
		display:none;
	}
}
@media(min-width:992px) {
	.sidebar-wrapper .sidebar {
		width:250px;
	}
	.sidebar-wrapper .on-lg{
		display:block;
	}
	.sidebar-wrapper .on-md {
		display:none;
	}
	.sidebar-wrapper .on-sm {
		display:none;
	}
	.sidebar-wrapper .sidebar-content {
		margin-left:250px;
	}
	.sidebar-wrapper .top-bar{
		left:250px;
		width: calc(100% - 250px);
	}
	.sidebar-menu i {
		display:inline;
		font-size:15px;
	}
	.sidebar-menu .text {
		display:inline;
	}
	.nav-profil{
		height:180px;
		opacity:1;
		padding:15px !important;
	}
	.sidebar-brand {
		text-align:left;
		padding-left:20px;
	}
}