<div class="content-body">
	<div class="container-fluid">
		<table class="profil-info hidden-xs">
			<tr>
				<td class="profil-td">
					<div class="profil-container" style="background-image:url('images/water-blur.jpg');">
						<img onError="this.src='images/image-not-found.png';" class="profil-image" src="{{getProfileImage()}}"></img>
					</div>
					
				</td>
				<td  >
					<div class="user-data-display" ladda="profilLoading">
						<div class="display username">{{profil.username}}</div>
						<div class="display">{{profil.name}}</div>
						<div class="display">{{profil.surname}}</div>
						<div class="display">{{profil.email}}</div><br>
						<div class="display">
							<button ng-click="sendMessage()" class="btn btn-default"><span class="icon wb-envelope"></span> Send Message</button>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<div class="visible-xs">
			<div class="profil-container-xs" style="background-image:url('images/water-blur.jpg');">
				<img onError="this.src='images/image-not-found.png';" class="profil-image" src="{{getProfileImage()}}"></img>
			</div>
			<div class="edit-fields-xs">
				<div class="user-data-display" ladda="profilLoading">
					<div class="display username">{{profil.username}}</div>
					<div class="display">{{profil.name}}</div>
					<div class="display">{{profil.surname}}</div>
					<div class="display">{{profil.email}}</div><br>
					<div class="display">
						<button ng-click="sendMessage()" class="btn btn-default"><span class="icon wb-envelope"></span> Send Message</button>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>


